@page "/"
@using CleanArchitecture.Blazor.Server.UI.Pages.Dashboard.Components
@using MudBlazor.Utilities
@inject IStringLocalizer<Dashboard> L
<PageTitle>@Title</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Class="mb-0">
  <MudGrid>
    <MudItem xs="12" md="7">
          <MudPaper Class="pa-4">
                    <span class="fw-700 fs-16">Live Sales Tracker</span>
                    <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%">
                    </MudChart>
          </MudPaper>
              <MudPaper class="mt-5 pa-10">
                    <div class="d-flex flex-wrap justify-space-between">
                 <div class="bg-gray d-flex mb-4 align-center justify-center px-3" style="border-radius:10px; width:170px; height:70px;">
                     <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                                    <path d="M20.4444 7.94444C20.4444 11.7798 17.3353 14.8889 13.5 14.8889C9.66468 14.8889 6.55554 11.7798 6.55554 7.94444C6.55554 4.10913 9.66468 1 13.5 1C17.3353 1 20.4444 4.10913 20.4444 7.94444Z" stroke="#FFB402" stroke-width="2" />
                                    <path d="M1 26C2.32956 21.7274 5.74997 20.4445 13.5 20.4445C21.25 20.4445 24.6704 21.7274 26 26" stroke="#FFB402" stroke-width="2" stroke-linecap="round" />
                                </svg>
                     </div>

                     <div class="ms-3">
                                <p class="mb-0 fs-13 fw-600 text-gray">Total Visits</p>
                                <p class="mb-0 fs-13 fw-600 text-gray">10.8m</p>
                     </div>
                 </div>
                        <div class="bg-gray mb-4 d-flex align-center justify-center px-3" style="border-radius:10px; width:170px; height:70px;">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                                    <path d="M1 10.5556C1 8.66995 1 7.72715 1.58579 7.14136C2.17157 6.55557 3.11438 6.55557 5 6.55557H5.16667H21.8333H22C23.8856 6.55557 24.8284 6.55557 25.4142 7.14136C26 7.72715 26 8.66995 26 10.5556V22C26 23.8856 26 24.8284 25.4142 25.4142C24.8284 26 23.8856 26 22 26H19.0556H7.94444H5C3.11438 26 2.17157 26 1.58579 25.4142C1 24.8284 1 23.8856 1 22V10.5556Z" stroke="#FF9F43" stroke-width="2" stroke-linejoin="round" />
                                    <path d="M7.94434 6.55556V3C7.94434 1.89543 8.83977 1 9.94434 1H17.0554C18.16 1 19.0554 1.89543 19.0554 3V6.55556" stroke="#FF9F43" stroke-width="2" stroke-linejoin="round" />
                                    <path d="M1 10.7222C1.25852 12.5508 2.02082 14.2414 3.16052 15.6825C5.43697 18.5611 9.21912 20.4445 13.5 20.4445C17.7809 20.4445 21.563 18.5611 23.8395 15.6825C24.9792 14.2414 25.7415 12.5508 26 10.7222" stroke="#FF9F43" stroke-width="2" stroke-linecap="round" />
                                    <path d="M12.8057 14.8889H14.1946" stroke="#FF9F43" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>

                            <div class="ms-3">
                                <p class="mb-0 fs-13 fw-600 text-gray">Total Students</p>
                                <p class="mb-0 fs-13 fw-600 text-gray">200k</p>
                            </div>
                        </div>
                        <div class="bg-gray mb-4 d-flex align-center justify-center px-3" style="border-radius:10px; width:170px; height:70px;">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                    <path d="M18.7 3.34791C18.0676 3.29981 17.3572 3.29988 16.6307 3.29996L5.36944 3.29996C4.64291 3.29988 3.93246 3.29981 3.30005 3.34792L3.30005 3.29995C3.30005 1.4774 4.77751 -6.04504e-05 6.60005 -6.03708e-05L15.4 -6.10352e-05C17.2226 -6.09555e-05 18.7 1.4774 18.7 3.29995L18.7 3.34791Z" fill="#FF6B6B" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.82773 10.9999C9.85179 10.9999 9.87593 10.9999 9.90015 10.9999L12.1001 10.9999C12.1244 10.9999 12.1485 10.9999 12.1726 10.9999C13.1477 10.9999 13.9879 10.9998 14.6607 11.0903C15.3818 11.1872 16.073 11.4058 16.6336 11.9665C17.1942 12.5271 17.4128 13.2183 17.5098 13.9394C17.6002 14.6122 17.6002 15.4524 17.6001 16.4275L17.6001 16.5723C17.6002 17.5475 17.6002 18.3877 17.5098 19.0605C17.4128 19.7816 17.1942 20.4728 16.6336 21.0334C16.073 21.594 15.3818 21.8126 14.6607 21.9096C13.9879 22 13.1477 22 12.1726 21.9999L9.82773 21.9999C8.8526 22 8.0124 22 7.33958 21.9096C6.61851 21.8126 5.92733 21.594 5.3667 21.0334C4.80607 20.4728 4.58745 19.7816 4.49051 19.0605C4.40005 18.3877 4.40009 17.5475 4.40015 16.5723C4.40015 16.5483 4.40015 16.5241 4.40015 16.4999C4.40015 16.4757 4.40015 16.4516 4.40015 16.4275C4.40009 15.4524 4.40005 14.6122 4.49051 13.9394C4.58745 13.2183 4.80607 12.5271 5.3667 11.9665C5.92733 11.4058 6.61851 11.1872 7.33958 11.0903C8.01241 10.9998 8.8526 10.9999 9.82773 10.9999Z" fill="#FF6B6B" />
                                    <path d="M5.42759 4.39997C4.45245 4.39991 3.61226 4.39986 2.93944 4.49032C2.21837 4.58727 1.52718 4.80589 0.966554 5.36652C0.405925 5.92715 0.187305 6.61834 0.090361 7.33941C-9.78641e-05 8.01223 -5.17384e-05 8.85243 2.76909e-06 9.82757L2.66659e-06 12.1724C-5.19262e-05 13.1475 -9.81181e-05 13.9877 0.0903607 14.6606C0.187307 15.3816 0.405925 16.0728 0.966553 16.6335C1.59112 17.258 2.44971 17.4766 3.30368 17.549C3.29994 17.249 3.29997 16.9413 3.3 16.6306C3.3 15.6859 3.27401 14.7312 3.40018 13.7929C3.51342 12.9505 3.78933 11.9881 4.58874 11.1887C5.38816 10.3893 6.35054 10.1134 7.19287 10.0002C7.93934 9.89979 8.84125 9.89989 9.76938 9.89998L12.2306 9.89998C13.1588 9.89989 14.0607 9.89979 14.8071 10.0002C15.6495 10.1134 16.6119 10.3893 17.4113 11.1887C18.2107 11.9881 18.4866 12.9505 18.5998 13.7929C18.726 14.7312 18.7 15.6859 18.7 16.6306C18.7 16.9413 18.7001 17.249 18.6963 17.549C19.5503 17.4766 20.4089 17.258 21.0334 16.6335C21.5941 16.0728 21.8127 15.3816 21.9096 14.6606C22.0001 13.9877 22.0001 13.1475 22 12.1724L22 9.8276C22.0001 8.85246 22.0001 8.01223 21.9096 7.33941C21.8127 6.61834 21.5941 5.92715 21.0334 5.36652C20.4728 4.80589 19.7816 4.58727 19.0606 4.49032C18.3877 4.39986 17.5475 4.39991 16.5724 4.39997L5.42759 4.39997Z" fill="#FF6B6B" />
                                </svg>
                            </div>

                            <div class="ms-3">
                                <p class="mb-0 fs-13 fw-600 text-gray">Orders Completed</p>
                                <p class="mb-0 fs-13 fw-600 text-gray">98,771</p>
                            </div>
                        </div>
                        <div class="bg-gray mb-4 d-flex align-center justify-center px-3" style="border-radius:10px; width:170px; height:70px;">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                    <path d="M23.7136 17.4794H6.24041C5.9094 17.4794 5.59195 17.3479 5.35789 17.1138C5.12383 16.8796 4.99233 16.562 4.99233 16.2309C4.99233 15.8998 5.12383 15.5822 5.35789 15.3481C5.59195 15.1139 5.9094 14.9824 6.24041 14.9824H19.2704C20.1049 14.9824 20.9156 14.7036 21.5736 14.1901C22.2316 13.6766 22.6992 12.958 22.9023 12.1482L24.9617 4.04524C25.0084 3.86097 25.0125 3.66845 24.9735 3.48237C24.9346 3.29629 24.8537 3.12156 24.737 2.9715C24.6156 2.8176 24.4597 2.69445 24.2819 2.61203C24.1041 2.5296 23.9094 2.49022 23.7136 2.49706H5.94087C5.68338 1.76848 5.20691 1.13741 4.5768 0.690361C3.94669 0.243312 3.19377 0.00217183 2.42128 0H1.24808C0.917071 0 0.599616 0.131541 0.365555 0.365686C0.131494 0.599831 0 0.9174 0 1.24853C0 1.57966 0.131494 1.89723 0.365555 2.13138C0.599616 2.36552 0.917071 2.49706 1.24808 2.49706H2.42128C2.70639 2.48875 2.98574 2.57838 3.21282 2.75103C3.43991 2.92368 3.60103 3.16893 3.66936 3.44595L3.74425 4.04524L5.90343 12.4853C4.9104 12.53 3.97578 12.9675 3.3052 13.7016C2.63461 14.4356 2.28299 15.4061 2.32767 16.3995C2.37236 17.3929 2.8097 18.3278 3.54348 18.9986C4.27726 19.6695 5.24738 20.0212 6.24041 19.9765H6.46507C6.2598 20.5423 6.19384 21.1491 6.27278 21.7458C6.35171 22.3425 6.57321 22.9113 6.91852 23.4042C7.26383 23.897 7.72278 24.2994 8.25651 24.5772C8.79023 24.855 9.38302 25 9.98466 25C10.5863 25 11.1791 24.855 11.7128 24.5772C12.2465 24.2994 12.7055 23.897 13.0508 23.4042C13.3961 22.9113 13.6176 22.3425 13.6965 21.7458C13.7755 21.1491 13.7095 20.5423 13.5043 19.9765H16.4497C16.2445 20.5423 16.1785 21.1491 16.2574 21.7458C16.3364 22.3425 16.5579 22.9113 16.9032 23.4042C17.2485 23.897 17.7074 24.2994 18.2412 24.5772C18.7749 24.855 19.3677 25 19.9693 25C20.571 25 21.1638 24.855 21.6975 24.5772C22.2312 24.2994 22.6902 23.897 23.0355 23.4042C23.3808 22.9113 23.6023 22.3425 23.6812 21.7458C23.7601 21.1491 23.6942 20.5423 23.4889 19.9765H23.7136C24.0446 19.9765 24.362 19.845 24.5961 19.6108C24.8302 19.3767 24.9617 19.0591 24.9617 18.728C24.9617 18.3968 24.8302 18.0793 24.5961 17.8451C24.362 17.611 24.0446 17.4794 23.7136 17.4794ZM22.116 4.99413L20.481 11.5364C20.4127 11.8134 20.2516 12.0587 20.0245 12.2313C19.7974 12.404 19.5181 12.4936 19.233 12.4853H8.462L6.58988 4.99413H22.116ZM9.98466 22.4736C9.73781 22.4736 9.49651 22.4003 9.29126 22.2632C9.08602 22.126 8.92605 21.931 8.83158 21.7028C8.73712 21.4747 8.7124 21.2236 8.76056 20.9815C8.80872 20.7393 8.92759 20.5168 9.10213 20.3422C9.27668 20.1676 9.49907 20.0487 9.74117 20.0005C9.98328 19.9523 10.2342 19.977 10.4623 20.0715C10.6903 20.166 10.8853 20.3261 11.0224 20.5314C11.1595 20.7367 11.2327 20.9781 11.2327 21.225C11.2327 21.5562 11.1013 21.8737 10.8672 22.1079C10.6331 22.342 10.3157 22.4736 9.98466 22.4736ZM19.9693 22.4736C19.7225 22.4736 19.4812 22.4003 19.2759 22.2632C19.0707 22.126 18.9107 21.931 18.8162 21.7028C18.7218 21.4747 18.6971 21.2236 18.7452 20.9815C18.7934 20.7393 18.9122 20.5168 19.0868 20.3422C19.2613 20.1676 19.4837 20.0487 19.7258 20.0005C19.9679 19.9523 20.2189 19.977 20.4469 20.0715C20.675 20.166 20.8699 20.3261 21.0071 20.5314C21.1442 20.7367 21.2174 20.9781 21.2174 21.225C21.2174 21.5562 21.0859 21.8737 20.8519 22.1079C20.6178 22.342 20.3003 22.4736 19.9693 22.4736Z" fill="#5F27CD" />
                                </svg>
                            </div>

                            <div class="ms-3">
                                <p class="mb-0 fs-13 fw-600 text-gray">Total Sales</p>
                                <p class="mb-0 fs-13 fw-600 text-gray">100,345</p>
                            </div>
                        </div>
                  </div>

                    <p class="my-3 fs-24 fw-700"> Current Products Sold</p>
                    <MudGrid Justify="Justify.Center">
                        <MudItem xs="12" md="10" xl="6">
                            <div class="border-10 bg-gray d-flex align-center justify-space-between pa-4 ">
                                <div class="d-flex align-center">
                                    <span class="fs-20 text-gray fw-bold " >
                                    Class -
                                    </span>
                                    <span class="fw-700 ms-3 fs-20">
                                        90A
                                    </span>
                                    <span>
                                    <MudIcon Icon="@Icons.Material.Filled.ArrowDropDown" />

                                    </span>
                                <p class=" ms-2" style="width:1px; height:47px; background-color:#fda958;"></p>
                                </div>
                                <div>
                                <div class="d-flex justify-space-between">
                                    <p class="fs-18 me-10 text-gray fw-500">Chocolate</p>
                                    <p class="fs-18 ms-10 text-gray fw-500">Lollipop</p>
                                </div>
                                    <div class="d-flex px-4 justify-space-between">
                                    <p class="fs-14 fw-500">9</p>
                                    <p class="fs-14 ms-10 fw-500">3</p>
                                </div>
                            </div>
                            </div>
                        </MudItem>
                    <MudItem xs="12" md="10" xl="6">
                        <div class="border-10 bg-gray d-flex align-center justify-space-between pa-4 ">
                            <div class="d-flex align-center">
                                <span class="fs-20 text-gray fw-bold ">
                                    Class -
                                </span>
                                <span class="fw-700 ms-3 fs-20">
                                    8A
                                </span>
                                <span>
                                    <MudIcon Icon="@Icons.Material.Filled.ArrowDropDown" />

                                </span>
                                <p class=" ms-2" style="width:1px; height:47px; background-color:#fda958;"></p>
                            </div>
                            <div>
                                <div class="d-flex justify-space-between">
                                    <p class="fs-18 me-10 text-gray fw-500">Chocolate</p>
                                    <p class="fs-18 ms-10 text-gray fw-500">Lollipop</p>
                                </div>
                                <div class="d-flex px-4 justify-space-between">
                                    <p class="fs-14 fw-500">9</p>
                                    <p class="fs-14 ms-10 fw-500">3</p>
                                </div>
                            </div>
                        </div>
                    </MudItem>

                    <MudItem xs="12" md="10" xl="6">
                        <div class="border-10 bg-gray d-flex align-center justify-space-between pa-4 ">
                            <div class="d-flex align-center">
                                <span class="fs-20 text-gray fw-bold ">
                                    Class -
                                </span>
                                <span class="fw-700 ms-3 fs-20">
                                    7A
                                </span>
                                <span>
                                    <MudIcon Icon="@Icons.Material.Filled.ArrowDropDown" />

                                </span>
                                <p class=" ms-2" style="width:1px; height:47px; background-color:#fda958;"></p>
                            </div>
                            <div>
                                <div class="d-flex justify-space-between">
                                    <p class="fs-18 me-10 text-gray fw-500">Chocolate</p>
                                    <p class="fs-18 ms-10 text-gray fw-500">Lollipop</p>
                                </div>
                                <div class="d-flex px-4 justify-space-between">
                                    <p class="fs-14 fw-500">9</p>
                                    <p class="fs-14 ms-10 fw-500">3</p>
                                </div>
                            </div>
                        </div>
                    </MudItem>

                    <MudItem xs="12" md="10" xl="6">
                        <div class="border-10 bg-gray d-flex align-center justify-space-between pa-4 ">
                            <div class="d-flex align-center">
                                <span class="fs-20 text-gray fw-bold ">
                                    Class -
                                </span>
                                <span class="fw-700 ms-3 fs-20">
                                    6A
                                </span>
                                <span>
                                    <MudIcon Icon="@Icons.Material.Filled.ArrowDropDown" />

                                </span>
                                <p class=" ms-2" style="width:1px; height:47px; background-color:#fda958;"></p>
                            </div>
                            <div>
                                <div class="d-flex justify-space-between">
                                    <p class="fs-18 me-10 text-gray fw-500">Chocolate</p>
                                    <p class="fs-18 ms-10 text-gray fw-500">Lollipop</p>
                                </div>
                                <div class="d-flex px-4 justify-space-between">
                                    <p class="fs-14 fw-500">9</p>
                                    <p class="fs-14 ms-10 fw-500">3</p>
                                </div>
                            </div>
                        </div>
                    </MudItem>
                    </MudGrid>
              </MudPaper>
    </MudItem>

       <MudItem xs="12" md="5" >

            <MudPaper Class="pa-10">
                <MudProgressLinear Color="Color.Error" Value="25" Min="0" Max="100" Style="margin-top: 20px; padding-top:10px;">
                    <MudText Typo="Typo.subtitle1" Color="Color.Dark">
                        <b>Label of progress bar</b>
                    </MudText>
                </MudProgressLinear>
         </MudPaper>
                <MudPaper class="mt-5 px-5 py-8">
                    <div class="d-flex justify-space-between">
                        <div>
                <p class="fs-30 fw-700">Sales Day Left</p>
                        <span class="text-gray fs-14">Information about Sales day Left</span>
                        </div>
                <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M19 3L7 3" stroke="#A7A7A7" stroke-width="2" stroke-linecap="round" />
                            <path d="M3 3L1 3" stroke="#A7A7A7" stroke-width="2" stroke-linecap="round" />
                            <path d="M19 10L17 10" stroke="#A7A7A7" stroke-width="2" stroke-linecap="round" />
                            <path d="M3 17L1 17" stroke="#A7A7A7" stroke-width="2" stroke-linecap="round" />
                            <path d="M13 10L1 10" stroke="#A7A7A7" stroke-width="2" stroke-linecap="round" />
                            <path d="M19 17L7 17" stroke="#A7A7A7" stroke-width="2" stroke-linecap="round" />
                            <path d="M15 12C13.8954 12 13 11.1046 13 10C13 8.89543 13.8954 8 15 8C15.489 8 16.3289 8.39194 16.9397 8.82881C17.8382 9.47137 17.0097 11.0854 16.0808 11.6831C15.7691 11.8837 15.3981 12 15 12Z" stroke="#A7A7A7" stroke-width="2" />
                            <path d="M5 19C3.89543 19 3 18.1046 3 17C3 15.8954 3.89543 15 5 15C6.10457 15 7 15.8954 7 17C7 18.1046 6.10457 19 5 19Z" stroke="#A7A7A7" stroke-width="2" />
                            <path d="M5 5C3.89543 5 3 4.10457 3 3C3 1.89543 3.89543 1 5 1C6.10457 1 7 1.89543 7 3C7 4.10457 6.10457 5 5 5Z" stroke="#A7A7A7" stroke-width="2" />
                        </svg>
                </span>

                    </div>

                    <div class="mt-10">
                        <div class="d-flex justify-space-between">
                    <span class="fs-14 fw-600">Class 9A</span>
                    <span class="fs-14 fw-600">7 day Left</span>
                    </div>
                    <MudProgressLinear Color="Color.Info" Size="Size.Medium" Value="50" Class="my-7" />

                    </div>

                <div class="mt-10">
                    <div class="d-flex justify-space-between">
                        <span class="fs-14 fw-600">Class 8A</span>
                        <span class="fs-14 fw-600">7 day Left</span>
                    </div>
                    <MudProgressLinear Color="Color.Secondary" Size="Size.Medium" Value="50" Class="my-7" />
                </div>
                <div class="mt-10">
                    <div class="d-flex justify-space-between">
                        <span class="fs-14 fw-600">Class 7A</span>
                        <span class="fs-14 fw-600">7 day Left</span>
                    </div>
                    <MudProgressLinear Color="Color.Tertiary" Size="Size.Medium" Value="50" Class="my-7" />
                </div>
                </MudPaper>
    </MudItem>
  
</MudGrid>
  
</MudContainer>

<style>
    .mud-progress-linear.horizontal.mud-progress-linear-medium{
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
    .fs-30{
        font-size:30px !important;
    }
    .lp-app-grid {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
    .fs-16{
        font-size:16px !important;
    }
      .fs-18{
        font-size:16px !important;
    }
    .fw-700 {
        font-weight:700;
    }
    .fs-24{
        font-size:24px !important;
    }
    .fs-20{
        font-size:20px !important;
    }
    .fs-14{
        font-size:14px !important;
    }
    .fw-500{
        font-weight:500;
    }
</style>


@code
{
    private readonly bool IsMobile = false;

    private readonly string _lpDownloads = "<path d=\"M12 17.88C11.68 17.88 11.4 17.76 11.16 17.52L3.95998 10.32C3.47998 9.84 3.47998 9.08 3.95998 8.64C4.43998 8.16 5.19998 8.16 5.63998 8.64L12 15L18.36 8.64C18.84 8.16 19.6 8.16 20.04 8.64C20.52 9.12 20.52 9.88 20.04 10.32L12.84 17.52C12.6 17.8 12.32 17.88 12 17.88Z\" fill=\"#66EDE5\"/><path d=\"M22.8 24H1.2C0.52 24 0 23.48 0 22.8V12.64C0 11.96 0.52 11.44 1.2 11.44C1.88 11.44 2.4 11.96 2.4 12.64V21.6H21.6V12.64C21.6 11.96 22.12 11.44 22.8 11.44C23.48 11.44 24 11.96 24 12.64V22.8C24 23.48 23.48 24 22.8 24Z\" fill=\"#5E5BF0\"/><path d=\"M12 16.6C11.32 16.6 10.8 16.08 10.8 15.4V1.2C10.8 0.52 11.32 0 12 0C12.68 0 13.2 0.52 13.2 1.2V15.4C13.2 16.08 12.68 16.6 12 16.6Z\" fill=\"#66EDE5\"/>";
    private readonly string _lpGitHub = "<path d=\"M9.46762 18.4784C4.47686 18.4784 2.22177 13.9188 2.11087 13.7289C1.85209 13.1589 2.0739 12.475 2.59146 12.209C3.14599 11.943 3.81142 12.171 4.0702 12.7029C4.14414 12.8549 5.9556 16.3886 9.7264 16.1986C10.3549 16.1606 10.8724 16.6546 10.8724 17.3005C10.9094 17.9465 10.4288 18.4784 9.80033 18.4784C9.7264 18.4784 9.61549 18.4784 9.46762 18.4784Z\" fill=\"#66EDE5\"/><path d=\"M16.3068 23H9.83731C9.20884 23 8.72825 22.506 8.72825 21.8601V17.3385C8.72825 16.6546 8.87612 16.0086 9.1349 15.4387C6.10348 14.2988 4.10718 11.905 4.10718 9.24525C4.10718 7.99136 4.51383 6.81347 5.29017 5.78756C4.99442 4.79965 4.92049 3.54577 4.99442 2.1019C5.06836 1.45596 5.54895 1 6.14045 1C6.47317 1 9.28278 1.038 10.9094 2.51986C12.3142 2.25389 13.7929 2.25389 15.2347 2.51986C16.8244 1.038 19.634 1 20.0037 1C20.5952 1 21.0758 1.45596 21.1127 2.0639C21.2236 3.50777 21.1127 4.76166 20.817 5.74957C21.5933 6.81347 22 7.99136 22 9.20725C22 11.867 20.0037 14.2608 16.9722 15.4007C17.231 16.0086 17.3789 16.6546 17.3789 17.3005V21.8221C17.4159 22.468 16.8983 23 16.3068 23ZM10.9464 20.7202H15.1978V17.3385C15.1978 16.6926 14.902 16.0846 14.4214 15.6667C14.0887 15.4007 13.9408 14.9447 14.0517 14.4888C14.1626 14.0708 14.4953 13.7288 14.902 13.6528C17.7856 13.0829 19.7819 11.2591 19.7819 9.20725C19.7819 8.10535 19.1904 7.26943 18.7098 6.73748C18.377 6.39551 18.3031 5.90155 18.5249 5.4456C18.6728 5.14162 18.8946 4.49568 18.8946 3.35579C17.9704 3.50777 16.8983 3.81174 16.4917 4.41969C16.2329 4.79965 15.7523 4.98964 15.3087 4.87565C13.8299 4.49568 12.2403 4.49568 10.7615 4.87565C10.3179 4.98964 9.87428 4.79965 9.57853 4.41969C9.17187 3.81174 8.09978 3.50777 7.17557 3.35579C7.21254 4.49568 7.39738 5.14162 7.54526 5.4456C7.7301 5.86356 7.65616 6.39551 7.36041 6.73748C6.87982 7.26943 6.28832 8.10535 6.28832 9.20725C6.28832 11.2591 8.28463 13.0449 11.1682 13.6528C11.5748 13.7288 11.9075 14.0708 12.0185 14.4888C12.1294 14.9067 11.9815 15.3627 11.6488 15.6667C11.1682 16.0846 10.8724 16.6926 10.8724 17.3385V20.7202H10.9464Z\" fill=\"#5E5BF0\"/>";
    private readonly string _lpContributors = "<g clip-path=\"url(#clip0_95_575)\"><path d=\"M2.1 23C1.47667 23 1 22.5233 1 21.9V18.7467C1 15.08 3.01667 13.0633 6.68333 13.0633H13.1C16.7667 13.0633 18.7833 15.08 18.7833 18.7467V21.9C18.7833 22.5233 18.3067 23 17.6833 23C17.06 23 16.5833 22.5233 16.5833 21.9V18.7467C16.5833 16.29 15.52 15.2633 13.1 15.2633H6.68333C4.22667 15.2633 3.2 16.3267 3.2 18.7467V21.9C3.2 22.4867 2.72333 23 2.1 23Z\" fill=\"#5E5BF0\"/><path d=\"M9.87332 12.1467C6.79332 12.1467 4.29999 9.65333 4.29999 6.57333C4.29999 3.49333 6.79332 1 9.87332 1C12.9533 1 15.4467 3.49333 15.4467 6.57333C15.4467 9.65333 12.9533 12.1467 9.87332 12.1467ZM9.87332 3.2C8.00332 3.2 6.49999 4.70333 6.49999 6.57333C6.49999 8.44333 8.00332 9.94667 9.87332 9.94667C11.7433 9.94667 13.2467 8.44333 13.2467 6.57333C13.2467 4.70333 11.7433 3.2 9.87332 3.2Z\" fill=\"#66EDE5\"/><path d=\"M21.9 23C21.2767 23 20.8 22.5233 20.8 21.9V18.7467C20.8 16.5833 19.9567 15.9233 19.2967 15.63C18.7467 15.3733 18.5267 14.7133 18.7833 14.1633C19.04 13.6133 19.7 13.3933 20.25 13.65C21.4967 14.2367 23 15.63 23 18.7467V21.9C23 22.4866 22.4867 23 21.9 23Z\" fill=\"#66EDE5\"/><path d=\"M15.74 11.8167C15.3 11.8167 14.8966 11.56 14.7133 11.12C14.4933 10.57 14.75 9.91 15.3366 9.69C16.62 9.17667 17.4633 7.96667 17.4633 6.57333C17.4633 5.18 16.62 3.97 15.3366 3.45667C14.7866 3.23667 14.4933 2.57667 14.7133 2.02667C14.9333 1.47667 15.5933 1.18333 16.1433 1.40333C18.27 2.24667 19.6266 4.26333 19.6266 6.57333C19.6266 8.88333 18.27 10.8633 16.1433 11.7433C15.9966 11.78 15.8866 11.8167 15.74 11.8167Z\" fill=\"#5E5BF0\"/></g><defs><clipPath id=\"clip0_95_575\"><rect width=\"22\" height=\"22\" fill=\"white\" transform=\"translate(1 1)\"/></clipPath></defs>";
    private readonly string _lpDiscord = "<path d=\"M9.37,4.77C9.18,3.57,8.09,3.9,7,4.19A8.39,8.39,0,0,0,4.24,5.53c-1,.72-1.78,3.75-2.12,5.26a19.35,19.35,0,0,0-.66,5.37c.08.69,1.12,1.46,2.62,2.21A6,6,0,0,0,7,19c.47-.14,1-1.4,1.17-1.82\" style=\"fill:none;stroke:#5e5bf0;stroke-miterlimit:10;stroke-width:1.5px\"/><path d=\"M14.31,4.77c.19-1.2,1.28-.87,2.4-.58a6.79,6.79,0,0,1,2.73,1.34c.89.82,1.79,3.75,2.12,5.26a19.35,19.35,0,0,1,.66,5.37c-.08.69-1.12,1.46-2.62,2.21a6,6,0,0,1-2.91.59c-.48-.14-1-1.4-1.17-1.82\" style=\"fill:none;stroke:#5e5bf0;stroke-miterlimit:10;stroke-width:1.5px\"/><ellipse cx=\"8.82\" cy=\"12.31\" rx=\"1.72\" ry=\"2.01\" style=\"fill:none;stroke:#66ede5;stroke-miterlimit:10;stroke-width:1.2px\"/><ellipse cx=\"15.04\" cy=\"12.22\" rx=\"1.72\" ry=\"2.01\" style=\"fill:none;stroke:#66ede5;stroke-miterlimit:10;stroke-width:1.2px\"/><path d=\"M4.35,15.05a.8.8,0,0,1,1.1-.15,11.93,11.93,0,0,0,12.65,0,.8.8,0,0,1,1.1.15.78.78,0,0,1-.31,1.11,13.39,13.39,0,0,1-14.23,0A.79.79,0,0,1,4.35,15.05Z\" style=\"fill:#5e5bf0\"/><path d=\"M5.24,7.3a.78.78,0,0,1,.32-1.11,12.06,12.06,0,0,1,12.65,0,.78.78,0,0,1,.33,1.11.83.83,0,0,1-1.11.16,10.55,10.55,0,0,0-11.09,0A.83.83,0,0,1,5.24,7.3Z\" style=\"fill:#5e5bf0\"/>";

    public string Title { get; set; } = "Dashboard";


    protected string ContentClassNames => new CssBuilder("flex-grow-1 flex-shrink-1")
        .AddClass("pa-5", !IsMobile)
        .AddClass("px-8", IsMobile)
        .Build();

    private int _gitHubTotalContributors { get; set; }
    private DiscordInvite? _discordInvite { get; set; } = new();
    private NugetPackage? _nugetPackage { get; set; } = new();
    private GitHubRepository? _gitHubRepo { get; set; } = new();

    private readonly IEnumerable<Element> Elements = new List<Element>
    {
        new() { Number = 1, Sign = "H", Name = "Hydrogen", Position = 0, Molar = 1.00794 },
        new() { Number = 2, Sign = "He", Name = "Helium", Position = 17, Molar = 4.002602 },
        new() { Number = 3, Sign = "Li", Name = "Lithium", Position = 0, Molar = 6.941 },
        new() { Number = 4, Sign = "Be", Name = "Beryllium", Position = 1, Molar = 9.012182 },
        new() { Number = 5, Sign = "C", Name = "Carbon", Position = 13, Molar = 12.0107 },
        new() { Number = 6, Sign = "O", Name = "Oxygen", Position = 15, Molar = 15.9994 }
    };

    public class Element
    {
        public string? Group { get; set; }
        public int Position { get; set; }
        public string? Name { get; set; }
        public int Number { get; set; }

        public string? Sign { get; set; }
        public double Molar { get; set; }

        public override string ToString()
        {
            return $"{Sign} - {Name}";
        }
    }

    protected override void OnInitialized()
    {
        Title = L["Dashboard"];
    }

    public List<ChartSeries> Series = new List<ChartSeries>()
    {
        new ChartSeries() { Name = "United States", Data = new double[] { 40, 20, 25, 27, 46, 60, 48, 80, 15 } },
        new ChartSeries() { Name = "Germany", Data = new double[] { 19, 24, 35, 13, 28, 15, 13, 16, 31 } },
        new ChartSeries() { Name = "Sweden", Data = new double[] { 8, 6, 11, 13, 4, 16, 10, 16, 18 } },
    };
    public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };
}

    <style>

        .mud-container-maxwidth-xl{
            max-width:100% !important;
        }

    .mud-container-maxwidth-lg{
        max-width:100% !important;
    }

    .mud-container.mud-container-maxwidth-xl.mud-container--gutters.mb-4.mt-4 {
        margin-bottom: 0 !important;
        padding-left: 0;
        padding-right: 0;
    }

    .mud-container.mud-container-maxwidth-lg.mud-container--gutters.mb-0 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .bg-gray{
        background-color: #eeeeee !important;
    }

    .mud-chart.mud-chart-legend-bottom{
        padding-right: 15px;
        margin-left: 15px;
        width:100%;
    }
    .fs-13{
        font-size:13px;
    }
    .fw-600{
        font-weight:600;
    }
    .text-gray{
        color: #7B7878;
    }

    .border-10{
        border-radius:10px !important;
    }
    </style>